<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <meta charset="UTF-8">
    <title>breads</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <div class = "card-body">
        <div th:if="${breads.isEmpty()}">
            <p>No breads in storage</p>
        </div>
        <div th:unless="${breads.isEmpty()}">
            <div class="col-md-11 mb-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                <tbody>

                <tr th:each="bread : ${breads}" th:if="${bread.isApproved} == true">
                    <td><span th:text="${bread.breadName}"></span></td>
                    <td><span th:text="${bread.author}"></span></td>
                    <td>
                        <button type="button" class="btn btn-primary">view</button>
                        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-dark">edit</button>
                        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-danger">delete</button>
                        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-danger">disapprove</button>
                    </td>
                </tr>

                </table>
                </tbody>
                </div>

            <div sec:authorize="hasAuthority('ADMIN')" class="col-md-11 mb-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bread : ${breads}" th:if="${bread.isApproved} == false">
                        <td><span th:text="${bread.breadName}"></span></td>
                        <td><span th:text="${bread.author}"></span></td>
                        <td>
                            <button type="button" class="btn btn-primary">view</button>
                            <button type="button" class="btn btn-dark">edit</button>
                            <button type="button" class="btn btn-danger">delete</button>
                            <button type="button" class="btn btn-success">approve</button>
                        </td>
                    </tr>
                </table>
                </tbody>
            </div>
            </div>
        </form>
    </div>
   </div>
</div>

</body>
</html>