<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <meta charset="UTF-8">
    <title>breads</title>
</head>
<body>
<nav th:replace="navbar:: Navbar"></nav>
<div class="container">
    <div class = "card-body">
        <div th:if="${breads.isEmpty()}">
            <p>No breads in storage</p>
        </div>
        <div th:unless="${breads.isEmpty()}">
            <div class="col-md-11 mb-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                <tbody>

                <tr th:each="bread : ${breads}" th:if="${bread.isApproved} == true">
                    <td><span th:text="${bread.breadName}"></span></td>
                    <td><span th:text="${bread.author}"></span></td>
                    <td>
                        <form method="post" action="#" th:action="@{/public/breads/{id}(id=${bread.breadId})}">
                        <input type="hidden" name="breadId" id="breadView" th:href="${bread.breadId}"/>
                        <button type="submit" class="btn btn-primary">View</button>
                        </form>
                        <form sec:authorize="hasAuthority('USER') || hasAuthority('ADMIN')" method="post" action="#" th:action="@{/users/bread/favourite}">
                            <input type="hidden" name="breadId" id="favouriteBread" th:value="${bread}"/>
                            <button type="submit" class="btn btn-primary">Favourite</button>
                        </form>
                        <form sec:authorize="hasAuthority('ADMIN')" method="post" action="#" th:action="@{/admin/bread/edit}">
                            <input type="hidden" name="breadId" id="editBread" th:value="${bread}"/>
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </form>
                        <form sec:authorize="hasAuthority('ADMIN')" action="#" th:action="@{/admin/bread/delete/{id}(id=${bread.breadId})}">
                            <input type="hidden" name="breadId" id="aBreadDelete" th:value="${bread}"/>
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                        </form>
                        <form sec:authorize="hasAuthority('ADMIN')" method="post" action="#" th:action="@{/admin/bread/approve}">
                            <input type="hidden" name="breadId" id="disapproveBreadApprove" th:value="${bread}"/>
                            <button type="submit" class="btn btn-success">Disapprove</button>
                        </form>
                    </td>
                </tr>

                </table>
                </tbody>
                </div>

            <div sec:authorize="hasAuthority('ADMIN')" class="col-md-11 mb-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bread : ${breads}" th:if="${bread.isApproved} == false">
                        <td><span th:text="${bread.breadName}"></span></td>
                        <td><span th:text="${bread.author}"></span></td>
                        <td>
                            <form method="post" action="#" th:action="@{/admin/bread/delete}">
                                <input type="hidden" name="breadId" id="breadDelete" th:value="${bread.breadId}"/>
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                            <form method="post" action="#" th:action="@{/admin/bread/approve}">
                            <input type="hidden" name="breadId" id="breadApprove" th:value="${bread.breadId}"/>
                            <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                        </td>
                    </tr>
                </table>
                </tbody>
            </div>
            </div>
        </form>
    </div>
   </div>
</div>

</body>
</html>