<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="Navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-dark" th:href="@{/breads}">breads</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="btn btn-dark" th:href="@{/users/breads/{email} (email=${#authentication.name})}">favorites</a>
            </li>
            <li sec:authorize="!isAuthenticated() || hasAuthority('ADMIN')") class="nav-item">
                <a class="btn btn-info" th:href="@{/create/user}">Register</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="btn btn-dark" th:href="@{/add/ingredient}">Add ingredient</a>
            </li>
            <div sec:authorize="isAuthenticated()">
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-dark" th:href="@{/users">View users</a>
                </li>
            </div>
        </ul>
        <form th:action="@{/logout}" class="form-inline" method="post">
            <div sec:authorize="isAuthenticated()">
                <button class="btn btn-success" type="submit" value="Logout">Logout</button>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-success" th:href="@{/login}" value="Login">Login</a>
            </div>
        </form>
</nav>
</body>
</html>